* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{

    height: 100vh;
    width: 100vw;
}
.imglogo {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;


}

header {
    width: 100vw;
    margin-top: 5px;
    margin-left: 74px;
    margin-bottom: 15px;
    margin-right: 50px;
    display: inline-block;
}

.linkheader {

    font-weight: 600;
    font-size: 24px;
    line-height: 29PX;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;


}



.botaologin {
    color: #ffffff;
    background: #665ae1;
    border-radius: 25.5px;
    width: 130px;
    height: 41px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    border: none
    

}
section {
    display: inline-block;
    margin-left: 86px;
    
}

h1 {

    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: 100%;

}

h2 {
    width: 530px;
    font-weight: 500;
    font-size: 58px;
    color: #515151;
    line-height: 71px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 24PX;
    color: #848484;
    width: 515PX;
    margin-top: 32px;
    margin-bottom: 65px;
}

button {
    
    background: #ADFF00;
    width: 239PX;
    height: 64PX;
    border-radius: 30PX;
    font-size: 28PX;
    font-weight: 700;
    cursor: pointer;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    
}

div{
    margin-right: 30px;
}
main{
    display: inline-block;
}


